NODE_ENV=dev

LOG_LEVEL=debug

PORT=2999
ALLOWED_ORIGINS=http://localhost:3000
API_VERSION=v1

DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=test-repo-schedules-api

SESSION_SECRET=test-repo-schedules-api-session-secret

ACCESS_TOKEN_SECRET=test-repo-schedules-api-access-token-secret
REFRESH_TOKEN_SECRET=test-repo-schedules-api-refresh-token-secret
ACCESS_TOKEN_EXP_IN=900000

ENCRYPTION_ALGORITHM=aes-256-cbc
ENCRYPTION_KEY=test-repo-schedules-api-encryption-key
